node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*@supabase*
public-hoist-pattern[]=*@next*
public-hoist-pattern[]=*@react*
legacy-peer-deps=true
node-options=--max-old-space-size=4096 